<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaofan.dao.StudentMapper">
    <select id="getStudent1" resultMap="StudentTeacher1">
        select * from mybatis.student;
    </select>

    <resultMap id="StudentTeacher1" type="Student">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <!--复杂的属性需要单独处理 对象：association 集合：collection-->
        <association property="teacher" column="tid" javaType="Teacher" select="getTeacherById"/>
    </resultMap>
    
    <select id="getTeacherById" resultType="Teacher">
        select * from mybatis.teacher where id = #{id}
    </select>

    <select id="getStudent2" resultMap="StudentTeacher2">
        select s.id sid, s.name sname, t.name tname from student s, teacher t where s.tid = t.id
    </select>
    <!-- 注意别名问题 -->
    <resultMap id="StudentTeacher2" type="Student">
        <result property="id" column="sid"/>
        <!-- 学生的名字 -->
        <result property="name" column="sname"/>

        <association property="teacher" javaType="Teacher">
            <!-- 老师的名字-->
            <result property="name" column="tname"/>
        </association>
    </resultMap>
</mapper>