<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--使用spring来创建对象，在spring这些都是bean-->
    <bean id="hello" class="com.xiaofan.pojo.Hello" name="hello2, h2">
        <property name="name" value="spring..."/>
    </bean>
</beans>